body {
	background: #f8f8f8 !important;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

hr {
	border-color: #ccc !important;
}

.nav-tabs>li>a {
	background-color: #efefef;
}

.nav-tabs>li>a:hover {
	background-color: #A7C6E2 !important;
	color: white !important;
}

.nav-tabs>li.active>a {
	background-color: #2A2A2A !important;
	color: #fff !important;
}

.modal-dialog {
	overflow-y: initial !important
}

.modal-body {
	height: 500px;
	overflow-y: auto;
}

textarea {
    resize: none;
}

.topPad {
	padding-top: 40px;
}

.padded {
	border-radius: 30px;
}

/* chartJS */
#line {
	width: 1500px;
	height: 400px;
	margin-top: 50px;
}

.appraisalChartTitle {
	padding-top: 20px;
	margin-left: 10px !important;
}

/* Appraisals */
.mainGroup {
	margin-top: 50px;
}

.appraisalList {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.addAppraisalBtn {
	margin-top: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
}

#deleteLeadAppraisal, #scoresLeadAppraisal {
	margin-left: -150px !important;
}