@-moz-document url-prefix() {
    .icons {
       margin-top: -20px;
    }
}

#userDropDown {
	margin: -5px 0 0 0;
}

.loggedInUsername {
	padding-top: 5px;
}

#loggedInUserImg{
	width: 25px !important;
	height: 30px !important;
}
