body {
	background: #f8f8f8 !important;
}

hr {
	border-color: #ccc;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
}

/*Tabs CSS*/
.nav-tabs>li>a {
	background-color: #ccc;
}

.nav-tabs>li>a:hover {
	background-color: #2A2A2A !important;
	color: white !important;
}

.nav-tabs>li.active>a {
	background-color: #2A2A2A !important;
	color: #fff !important;
}

#userSettingsModal{
	margin-top: 190px;
}

.modal-content{
	border: 3px black solid;
}

#userSettingsModalTitle{
	padding-top: 10px;
}

/* Validation Error Message Border Radius */
.padded {
	border-radius: 25px 25px;
}