[ng-cloak] {
      display: none !important;
}

body {
	background: #f8f8f8 !important;
}

hr {
	border-color: #ccc;
}

/*Tabs CSS*/
.nav-tabs>li>a {
	background-color: #ccc;
}

.nav-tabs>li>a:hover {
	background-color: #A7C6E2 !important;
	color: white !important;
}

.nav-tabs>li.active>a {
	background-color: #2A2A2A !important;
	color: #fff !important;
}

#headTitle {
	padding-bottom: 20px;
}

#userSettingsModal{
	margin-top: 240px;
}

#userSettingsModalTitle{
	padding-top: 10px;
}

/* Validation Error Message Border Radius */
.padded {
	border-radius: 25px 25px;
}