body {
	background: #f8f8f8 !important;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

/* 720kb date picker calendar */
._720kb-datepicker-calendar._720kb-datepicker-open {
	width: 400px;
}

._720kb-datepicker-calendar-body>._720kb-datepicker-active {
	color: red !important;
}

.nav-tabs>li>a {
	background-color: #efefef;
}

.nav-tabs>li>a:hover {
	background-color: #A7C6E2 !important;
	color: white !important;
}

.nav-tabs>li.active>a {
	background-color: #2A2A2A !important;
	color: #fff !important;
}

.modal-dialog {
	overflow-y: initial !important
}

.modal-body {
	height: 500px;
	overflow-y: auto;
}

hr {
	border-color: #ccc !important;
}

textarea {
    resize: none;
}

.topPad {
	padding-top: 40px;
}

.padded {
	border-radius: 30px;
}

.addVacancyBtn {
	margin-top: 30px;
	margin-right: 15px;
	margin-bottom: 20px;
}

.expired-vacancy {
	background-color: #f2dede !important;
}

#deleteVacancyModal .modal-body {
	height: 180px;
}

#deleteApplicantModal .modal-body {
	height: 140px;
}

.selected-applicant {
	background-color: #dff0d8 !important;
}

.rejected-applicant {
	background-color: #f2dede !important;
}

.shortListed-applicant {
	background-color: #fcf8e3 !important;	
}

.expiredVacancies {
	height: 100px;
    width: 250px;
    margin-top: -20px;
}