body {
	background: #eacda3; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #eacda3, #d6ae7b);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #eacda3, #d6ae7b);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Tab Style */
.nav-tabs>li>a {
	background-color: #efefef;
}

.nav-tabs>li>a:hover {
	background-color: #2A2A2A !important;
	color: white !important;
}

.nav-tabs>li.active>a {
	background-color: #2A2A2A !important;
	color: #fff !important;
}

/* Employee Page */
.headingPad{
	padding: 10px 0;
}
.customList {
	margin: 15px 0;
	border-radius: 25px 25px !important;
}

.employee-image {
	width: 100px; 
	height: 100px;
}

.empName {
	text-transform: capitalize;
}

#searchBoxGlyp, #showListGlyp {
	border-radius: 25px 0 0 25px;
}

#searchBox, #showListBox  {
	border-radius: 0 25px 25px 0;
}

.colored {
	background-color: #efefef;
}