/* ng-cloak */
[ng-cloak] {
  display: none !important;
}

body {
	background: #f8f8f8 !important;
}

hr {
	border-color: #ccc !important;
}

/* 720kb date picker calendar */
._720kb-datepicker-calendar._720kb-datepicker-open {
	width: 400px;
}

/* Tab Style */
.nav-tabs>li>a {
	background-color: #efefef;
}


.nav-tabs>li>a:hover {
	background-color: #2A2A2A !important;
	color: white !important;
}

.nav-tabs>li.active>a {
	background-color: #2A2A2A !important;
	color: #fff !important;
}

/* Employee Page */
.headingPad{
	padding: 10px 0;
}

#addNewEmpBtn {
	margin-top: 40px !important;
}

.customList {
	margin: 25px;
	border-radius: 25px 25px !important;
	background: #efefef !important;
}

.employee-image {
	width: 100px; 
	height: 100px;
}


.empName {
	text-transform: capitalize;
}

#searchBoxGlyp, #showListGlyp {
	border-radius: 25px 0 0 25px;
}

#searchBox, #showListBox  {
	border-radius: 0 25px 25px 0;
}

.colored {
	background-color: #efefef;
}

.padded {
	border-radius: 25px 25px;
	margin-left: 10px;
	margin-right: 10px;
}

.warningPad {
	border-radius: 25px;
}

.imageTypeDesc {
	font-weight: bold;
	color: maroon;
	padding-left: 15px;
}

/* Dir Pagination */
#employeeDirPagination {
	float:right
}

/* Add Emp Modal */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 450px;
    overflow-y: auto;
}

#addEmpToggleSwitch label {
	padding-left: 60px;
}

#addEmpToggleSwitch #switchControl {
	margin-left: 20px;
}

/* Delete Employee */
#empDeleteModal {
	padding-top: 70px;
}

#empDeleteModal .modal-body{
	height: 150px;
}

/* show employee page style */
.employee-image-individual {
	width: 75px;
	height: 75px;
}

.topPad {
	padding-top: 20px;
}

#hireDate, #birthday {
	margin-bottom: 15px;
}

#editEmpSaveBtn {
	margin-left: 4px;
}

/* chartJS */

.empDesigChart .chart-container {
	padding-top: 10px;
    height: 400px;
}

.empDesigTitle {
	padding-top: 20px;
}

#imageErrorMsg, #designationErrorMsg {
	margin-top: 50px;
}

.empProfileLink {
	margin-top: 50px;
}

/* Designations Tab */
.tpad{
	padding-top: 20px;
}

.tpad-table {
	padding-top: 50px;
}

#editDesig {
	margin-right: 15px;
}

/* Update Designation Modal */
#editDesigModal {
	padding-top: 70px;
}

#editDesigModal .modal-body {
	height: 240px;
}

/* Delete Designation Modal */
#deleteDesigModal {
	padding-top: 70px;
}

#deleteDesigModal .modal-body {
	height: 180px;
}

/* Add Designation Modal */
#addDesigModal {
	padding-top: 70px;
}

#addDesigModal .modal-body {
	height: 240px;
}

/* Designation Deletion Modal */
.desigDeletionInfo {
	padding-top: 30px;
	font-weight: bold;
}

/* Disable Employee Modal */
#empDisableModal {
	padding-top: 70px;
}

#empDisableModal .modal-body {
	height: 120px;;
}



@media ( min-width : 992px) {
	.modal-content {
		width: 700px;
	}
}

@media (max-width: 767px) {
	#noOfItems {
		margin-top: 20px;
	}
	
	#addNewEmpBtn {
		float: right !important;
		margin-top: 0px;
		margin-right: 10px;
	}
	.empProfileLink {
		margin-top: 0px;
	}
}