body {
	background: #f8f8f8 !important;
}

hr {
	border-color: #ccc !important;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

/* Tab Style */
.nav-tabs>li>a {
	background-color: #efefef;
}

.nav-tabs>li>a:hover {
	background-color: #2A2A2A !important;
	color: white !important;
}

.nav-tabs>li.active>a {
	background-color: #2A2A2A !important;
	color: #fff !important;
}

/* Employee Page */
.headingPad{
	padding: 10px 0;
}

#addNewEmpBtn {
	margin-top: 40px !important;
}

.customList {
	margin: 25px;
	border-radius: 25px 25px !important;
	background: #efefef !important;
}

.employee-image {
	width: 100px; 
	height: 100px;
}

.empName {
	text-transform: capitalize;
}

#searchBoxGlyp, #showListGlyp {
	border-radius: 25px 0 0 25px;
}

#searchBox, #showListBox  {
	border-radius: 0 25px 25px 0;
}

.colored {
	background-color: #efefef;
}

.padded {
	border-radius: 25px 25px;
	margin-left: 10px;
	margin-right: 10px;
}

.warningPad {
	border-radius: 25px;
}

/* Add Emp Modal */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 450px;
    overflow-y: auto;
}

@media ( min-width : 992px) {
	.modal-content {
		width: 700px;
	}
}