body {
	background-color: #efefef !important;
}

.dashboard-main {
	padding-top: 20px;
	margin-left: 22px;
}

.dashboard-tile {
	box-shadow: 0 0 1em #efefef;
	background-color: #80bfff;
	width: 300px;
	height: 140px;
	padding: 30px 10px 0 5px;
	margin-left: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
	vertical-align: middle;
}

.dashboard-title {
	margin: 0 0 0 70px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.icon-color {
	color: #fff;
}

#icon {
	vertical-align: middle;
	margin-left: 40px;
}

#iconSmall {
	vertical-align: middle;
	margin-left: 60px;
}

#textMedium {
	padding-left: 12px;
	padding-top: 20px;
}

#textSmall {
	padding-left: 20px;
	padding-top: 20px;
}

#textSmall-two{
	padding-left: 25px;
	padding-top: 20px;
}


#textXSmall {
	padding-left: 40px;
	padding-top: 20px;
}