body {
	background: #517fa4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #517fa4, #243949);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #517fa4, #243949);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dashboard-main {
	padding: 35px 30px 0 45px;
}

.dashboard-tile {
	background-color: #91BEF4;
	background: #83a4d4; /* fallback for old browsers */ background :
	-webkit-linear-gradient( to left, #83a4d4, #b6fbff);
	/* Chrome 10-25, Safari 5.1-6 */ background : linear-gradient( to left,
	#83a4d4, #b6fbff);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 320px;
	height: 150px;
	border: 2px solid #525252;
	padding: 40px 10px 0 0px;
	background: -webkit-linear-gradient(to left, #457fca, #5691c8);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #457fca, #5691c8);
	background: -webkit-linear-gradient(to left, #83a4d4, #b6fbff);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #83a4d4, #b6fbff);
}

.dashboard-title {
	margin: 0 0 0 70px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}